:root {
  --fill-colour: green;
  --bg-colour: white;
  --hover-colour: darkgreen;
}

/* SVG Icons */
.svi {
  color: var(--fill-colour);
  height: 1em;
  width: 1em;
  vertical-align: middle;
  box-sizing: border-box;
}

.svi-lg { font-size: 1.25em; }
.svi-2x { font-size: 2em; }
.svi-3x { font-size: 3em; }
.svi-4x { font-size: 4em; }

.svi-square,
.svi-circle,
.svi-rounded {
  color: var(--bg-colour);
  background-color: var(--fill-colour);
  padding: .20em;
  overflow: visible;
}

.svi-rounded { border-radius: 20%; }
.svi-circle { border-radius: 100%; }

.svi-inverse {
  color: var(--fill-colour);
  background-color: transparent;
}

a:hover .svi {
  color: var(--hover-colour);
}

a:hover .svi-square,
a:hover .svi-circle,
a:hover .svi-rounded {
  color: var(--bg-colour);
  background-color: var(--hover-colour);
}

/* General */
a, a:visited {
  color: var(--fill-colour);
  text-decoration: none;
}

li {
  padding: .25em 0;
}

.icons {
  display: flex;
}

.icons > * {
  margin: 10px;
}

.icons .svi {
  font-size: 40px;
}
